body {
  margin: 0;
  background: #f2f2f2;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app-frame {
  background: #ffffff;
  width: 380px;
  height: 95vh; 

  border-radius: 18px;
  border: 1px solid #e6e6e6;

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.15),
    0 2px 8px rgba(0, 0, 0, 0.08);

  display: flex;
  justify-content: center;

  overflow: hidden;
}


.screen {
  width: 360px;
  height: 100%;
  padding: 24px 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}


.top-area {
  height: 55vh;
  position: relative;
}

.bottom-area {
  margin-top: auto;
}

h1, h2 {
  font-size: 22px;
  font-weight: 700;
}

p {
  font-size: 14px;
  color: #777;
}

label {
  font-size: 12px;
  color: #6c2cf5;
  margin-top: 14px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.btn {
  display: block;
  padding: 12px;
  text-align: center;
  border-radius: 6px;
  margin-top: 14px;
  text-decoration: none;
  font-weight: 600;
}

.primary { background: #6c2cf5; color: #fff; }
.secondary { background: #e5d9ff; color: #000; }
.disabled { background: #ccc; color: #fff; }

.bottom-btn { margin-top: 24px; }

.profile {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.desc { font-size: 13px; margin-top: 12px; }

.radio { display: flex; gap: 20px; margin: 10px 0; }

/* DOT POSITIONING */
.dots span {
  position: absolute;
  background: #f4b400;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d6 { top: 40px; left: 80px; }
.d1 { top: 90px; left: 150px; }
.d2 { top: 130px; left: 160px; }
.d3 { top: 170px; left: 190px; }
.d4 { top: 210px; left: 220px; }
.d5 { top: 250px; left: 250px; }
.d7 { top: 290px; left: 280px; }
